# Your Cloudflare API Token (Needs Zone:DNS:Edit permissions)
CF_DNS_API_TOKEN=1qP8OEHr0WDInzRGHOWxi-pm__NSoXGhMkOYdQaS

# Email for Let's Encrypt expiration notifications
ACME_EMAIL=rasmusbrandt92@gmail.com
